.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example
/nbproject/private/
src/lib/includes/sales/markers.svelte
src/lib/includes/sales/markers.svelte
src/lib/includes/sales/markers.svelte
client.mjs
